/* Slider.js*/
@import "./default.css";
body{
    font-family: 'regular';
}
.slide-container{
    width: 60%;
    margin: 20px auto;
    background: rgb(255, 255, 255);
    padding: 24px 16px 35px;
    border-radius: 8px;
    box-shadow: rgb(15 41 77 / 12%) 0px 4px 20px;
}