.container {
    display: flex;
}

article, aside {
    height: calc(60vh) /*Header와 Footer의 크기가 변경된다면 수정해야함*/
}

article {
    margin-top: 10%;
    flex: 4;
}

aside {
    flex: 2;
    height: 33%;
}

#orderId {
    width: 20%;
}

#roomName {
    width: 50%;
    align-items: center;
}

#startDate, #endDate {
    width: 15%;
}

.need_login{
    padding:20px;
    width: 60%;
    margin: 20px auto;
    background: rgb(255, 255, 255);
    padding: 24px 16px 16px;
    border-radius: 8px;
    box-shadow: rgb(15 41 77 / 12%) 0px 4px 20px;
}
.need_login p{
    font-size:18px;
    font-weight:bold;
}